/* Globals - Font Family */
* {
  font-family: "Space Grotesk", sans-serif;
}

/* Remove any excess whitespace/padding from around body. */
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* (1/2) Position items in <main> and place it above all other tags, still allowing click-through. */
main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  position: absolute;
  z-index: 9999;
  width: 100%;
  height: 100%;
  pointer-events: none;
  color: aliceblue;
}

/* (2/2) */
main header * {
  pointer-events: all;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Error message for if browser is unsupported - red text and background. */
#error {
  display: none;
  color: red;
  font-weight: bold;
  text-align: center;
  padding: 15px;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
}

/* General Styles */
button {
  cursor: pointer;
}

button,
input {
  border: none;
  border-radius: 0.25em;
}

.container {
  padding: 0.75em;
}

.vertical-spacer {
  padding: 0.25em 0;
}

/* Hide default "Browse... [XYZ]" format to add own styled button. */
#upload-obj-file {
  display: none;
}

/* Flex positioning styles for an assortment of classes! */
.data-exfiltration-settings {
  display: flex;
  flex-direction: column;
  border: none;
}

.toggle-container,
.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0.25em 0;
}

.data-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* General input styles based on type... */
input[type="number"] {
  width: 4em;
  padding: 0.25em;
}

input[type="checkbox"] {
  margin-left: 0.5em;
}

/* Make fieldset labels semi-bold. */
fieldset label,
#top-left {
  font-weight: 600;
}

#top-left {
  width: 20%;
  height: fit-content;
}

/* Spacing between each data button, i.e. Export JSON++ depending on where it is on the screen. */
.container.data-buttons button {
  margin: 0 5px;
}

.container.data-buttons button:first-child {
  margin-left: 0;
}

.container.data-buttons button:last-child {
  margin-right: 0;
}
