* {
  font-family: "Space Grotesk", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  position: absolute;
  z-index: 9999;
  width: 100%;
  height: 100%;
  pointer-events: none;
  color: aliceblue;
}

main header * {
  pointer-events: all;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

button {
  cursor: pointer;
}

.container {
  padding: 0.75em;
}

#upload-obj-file {
  display: none;
}

.data-exfiltration-settings {
  display: flex;
  flex-direction: column;
  border: none;
}

.toggle-container,
.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0.25em 0;
}

input[type="number"] {
  width: 4em;
  padding: 0.25em;
}

input[type="checkbox"] {
  margin-left: 0.5em;
}

fieldset label,
#top-left {
  font-weight: 600;
}

#top-left {
  width: 20%;
  height: fit-content;
}

button,
input {
  border: none;
  border-radius: 0.25em;
}

.data-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container.data-buttons button {
  margin: 0 5px;
}

.container.data-buttons button:first-child {
  margin-left: 0;
}

.container.data-buttons button:last-child {
  margin-right: 0;
}

.vertical-spacer {
  padding: 0.25em 0;
}
